@model FitnessBuddy.Models.Trainer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WELCOME ADMIN!</h2>

<p>This is the Admin Page. You can View, Edit or delete either a member or a program</p>
<br />



<a href="@Url.Action("ViewMemberList", "Trainer")" class="btn btn-primary btn-lg">View Members List</a>

<a href="@Url.Action("AddProgram","Trainer")" class="btn btn-primary btn-lg" color="orange">Add Program</a>

<a href="@Url.Action("ProgramList","Trainer")" class="btn btn-primary btn-lg" color="orange">View Programs</a>


