@model FitnessBuddy.Models.Member

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome</h2>
<div class="jumbotron">
    <h1>Fitness-Buddy</h1>
    <p class="lead">
        Welcome To Our Fitness Website, Here You Can Set Your Goals and We'll Help You Acheive It.
        We'll Help You Measure Your Caloric Intake, And Gather WorkOut Ideas.
        You Can Simply Get Your Plan On Your Mail or On Your Account. Also You Can CheckOut Your Progress Using Your Account.
    </p>

